body {
  margin: 0;
  padding: 0;
  font-family: Impact, sans-serif;
  text-shadow: 1px 1px white;
}
.nav {
  background-color: rgb(95, 159, 211); /* фон блока  меню*/
  box-shadow: 5px 5px gray; /* тень блока */
  font-size: 24px; /* размер шрифта */
  padding: 5px;
}
.links {
  display: inline-block;
  color: black;
  text-decoration: none; /* убираем подчеркивание ссылок */
  padding: 20px; /* поля кнопки */
  background-color: rgb(167, 230, 255); /* фон кнопки */
  border-bottom: gray; /* цвет рамки */
  border-bottom-style: groove; /* стиль рамки */
  border-right-style: ridge;
}
.links:hover {
  background-color: rgb(173, 173, 173); /* фон кнопки при наведении */
}
.title {
  font-size: 48px;
  margin: 0 0 5px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(95, 159, 211), rgb(167, 230, 255));
}
.block {
  background: linear-gradient(to top, rgb(95, 159, 211), rgb(167, 230, 255));
  height: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px grey;
}
.inbox-title {
  text-align: center;
  background-color: rgb(95, 159, 211);
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
}
.info {
  background-color: rgb(198, 236, 252);
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  padding: 2px;
}
#news {
  width: 20vh;
  float: left;
}
#other {
  width: 20vh;
  float: right;
}
#main {
  overflow: hidden;
}
#main img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.pic {
  height: 250px;
  width: 250px;
  position: relative;
  float: left;
  margin: 25px;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 100%;
  text-align: center;
  width: inherit; /* наследуем ширину и высоту */
  height: inherit;
  text-decoration: none;
  transition: top 0.3s;
}
.pic:hover .text {
  /* при наведении блок смещается на 0 px от левой стороны */
  top: 90%;
  left: 0%;
}
